<nav id="top-panel-link" class="navbar navbar-expand-lg navbar-light bg-white static-top mb-5 shadow-lg">
    <div class="container mw-100">
        <a class="navbar-brand mb-2" style="font-family:Elianto" href="#">CV-STOR<span style="color: red">A</span>GE</a>

        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarResponsive " aria-controls="navbarResponsive " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
          </button>

        <div class="collapse navbar-collapse " id="navbarResponsive ">
            <ul class="navbar-nav ml-3">
                <li class="nav-item active ">
                    <a class="nav-link " href="# ">HOME
                  <span class="sr-only ">(current)</span>
                </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">BUILD</a>
                </li>
            </ul>

        </div>
        <input class="form-control mr-sm-1 w-100 ml-5" type="search" placeholder="Add category..." aria-label="Search">
        <button class="btn btn-danger mr-5" type=" submit ">Add</button>
        <div class="btn-group" *ngIf="isUserLoggedIn">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu  dropdown-menu-right w-10">
                <button class="dropdown-item btn-dark" type="button">Profile</button>
                <button class="dropdown-item btn-dark" type="button">Settings</button>
                <button class="dropdown-item btn-dark" type="button">Manage dataset</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item btn-danger" href="#" (click)="onLogout()">
                    Log out
                 </button>
            </div>
        </div>
        <button type="button" *ngIf="!isUserLoggedIn" [routerLink]="[{outlets: {'popup': ['login']}}]" routerLinkActive='active' (click)="onSignIn()" class="btn-wrap-text btn btn-dark" style="width: 7rem;">
                Sign in
        </button>
    </div>
</nav>

<div class="container w-100">
    <div class="card-columns  no-gutter-card-deck">
        <div class="card w-75 " *ngFor="let image of images" (click)="onShowImage(image)" [routerLink]="[{outlets: {'popup': ['image']}}]" routerLinkActive='active'>
            <div class="hovereffect ">
                <img class="card-img-top mw-25 " src={{image}} alt="Card image cap ">
            </div>
        </div>
    </div>
</div>

<div class="btn-group " id="right-panel-link" *ngIf="isUserLoggedIn">
    <button type="button" [routerLink]="[{outlets: {'popup': ['chat']}}]" routerLinkActive='active' class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Feedback
    </button>
    <div class="dropdown-menu  ">
        <router-outlet name="popup"></router-outlet>
    </div>
</div>