<div class="row mb-3">
    <div class="col-md-12 text-center">
        <div class="btn-group btn-group-lg" role="group" data-toggle="button" aria-label="Basic example">
            <button class="btn btn-outline-dark" [routerLink]="[{outlets: {'popup': ['login']}}]" routerLinkActive='active'>Sign In</button>
            <button class="btn btn-outline-dark" [routerLink]="[{outlets: {'popup': ['registration']}}]" routerLinkActive='active'>Sign Up</button>
        </div>

    </div>
</div>

<router-outlet name="popup"></router-outlet>